<section class="mt-5">
    <div class="container">
        {{#if name}}
        <div class="">
            <a href="/admin/subcategoryVIew/{{SubCat_id}}/{{SubCatName}}" class="text-dark text-decoration-none">
                <h3>{{name}}</h3>
            </a>
        </div>
        {{/if}}
        <div class="d-flex flex-row justify-content-between">
            <div class="">
                <form action="/admin/edit-subcategory/{{response._id}}" method="post" enctype="multipart/form-data">
                    <div class="row add-SubCatLeftUI  mt-4">
                        {{#if Response_For_Edit_Category}}
                        {{#if Response_For_Edit_Category.status}}
                        <div class="success-forgot-password w-100">
                            <div class="error-message">
                                <div class="error-message-heading">{{Response_For_Edit_Category.message}}</div>
                            </div>
                        </div>
                        {{else}}
                        <div class="error-div w-100">
                            <div class="error-message">
                                <p class="error-message-heading">{{Response_For_Edit_Category.message}}</p>
                            </div>
                        </div>
                        {{/if}}
                        {{/if}}
                        <div class="col-12">
                            <label>Name<span class="text-danger">*</span></label>
                            <input type="text" placeholder="Name" class="form-control" name="name" value="{{response.name}}" />
                        </div>
                        <div class="col-12">
                            <label>Add Link</label>
                            <input type="url" placeholder="Enter URL" class="form-control" name="link" value="{{response.link}}" />
                        </div>
                        <div class="col-12">
                            <label>Image</label>
                            <img class="m-4" src="/sub-category-images/{{response._id}}.jpg" alt="" width="65px"
                                height="50px" id="imgViewSubCat">
                            <input type="file" class="form-control" name="image"
                                onchange="viewImageSubCategory(event)" />
                        </div>
                        <div class="ml-3 Btn-ForCustomize margin-bottom-1rem">
                            <div class="">
                                <button type="submit" class="btn btn-success mt-3 wid-110">Update</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="w-100  text-dark "> </div> {{!-- this designed class use this one ( addSubCat-RightPanel ) --}}
        </div>
    </div>
</section>