<section class="margin-bottom-5rem margin-top-4rem">
  <div class="container">
    <div class="d-flex justify-content-between">
      <div>
        {{#if name}}
        <div class="">
          <a href="/admin/view-categories" class="text-dark text-decoration-none">
            <h3>{{name}}</h3>
          </a>
        </div>
        {{/if}}
      </div>
      <div>
        <div>
          <span id="add-subCat-ViewBtn">Add</span><a class="btn text-white btn btn-success"
            href="/admin/add-subcategories/{{_id}}/{{name}}">
            <i class="fa-solid fa-plus font-size-18"></i></a>
        </div>
      </div>
    </div>
    {{#if subCategories}}
    <div class="row mt-4 mb-4 w-100 d-flex justify-content-center">
      <div class="w-75">
        <div class="text-center">
          <table class="table mt-4 viewCat-tr" id="subcategory">
            <thead>
              <tr>
                <th scope="col">Logo</th>
                <th scope="col">Name</th>
                <th scope="col">Link</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody class="text-center">
              {{#each subCategories}}
              <tr class="text-dark bg-color-DynamicDataView-SubCat">
                <td>
                  <img src="/sub-category-images/{{this._id}}.jpg" alt="" width="65px " height="50px">
                </td>
                <td>{{this.name}}</td>
                <td>{{this.link}}</td>
                <td>
                  <a class="btn text-dark whiteLight" href="/admin/edit-subcategory/{{this._id}}/{{this.name}}"><i
                      class="fa-solid fa-pen font-size-18"></i></a>
                </td>
                <td class="">
                  <a class="btn text-danger whiteLight" onclick="deleteSubCat('{{this._id}}',',{{this.name}}')"> <i
                      class="fa-solid fa-trash-can font-size-18"></i></a>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {{else}}
  <h3 class="pt-5">No data available!</h3>
  {{/if}}
</section>