 <section id="home-section">
  <div class="container" id="container">
    <div class="row home-row" id="results">
      {{#if response}}
      {{#each response}}
      <div class="hover" style="position: relative;" onclick="get('/subcategories/{{this._id}}/{{this.name}}')">
      {{!-- <div class="home_indexing_container"><span class="count_increment"></span></div> --}}
        <div class="image-parent">
          <p class="imag-style" style="homeImg">
            <img onchange="s()" class="home-image-tag" src="/category-images/{{this._id}}.jpg" width="65px " height="50px" alt="">
          </p>
          <div class="home-contentTitle-parentDiv text-center w-100">
           <div>
              <a class="home-contentTitle-aTag text-dark text-decoration-none" href="/subcategories/{{this._id}}/{{this.name}}">
                <h5 class="font-weight" id="f" >{{this.name}}</h5>
              </a>
           </div>
          </div>
        </div>
      </div>
      {{/each}}
      {{else}}
      <div>
        <p class="loading" style="font-family: 'Avenir', sans-serif ;">Loading...</p>
      </div>
      {{/if}}
    </div>
  </div>
</section>

<button onclick="topFunction()" id="home_btn" title="Go to top"><i class="fa-solid fa-house"></i></button>

<style>
  @font-face {
    font-family: "HelveticaNeue";
    font-weight: 100;
    src: local("Helvetica Neue Thin"),
    local("HelveticaNeue-Thin");
}

@font-face {
    font-family: "HelveticaNeue";
    font-weight: 300;
    src: local("Helvetica Neue Light"),
    local("HelveticaNeue-Light");
}

@font-face {
    font-family: "HelveticaNeue";
    font-weight: normal;
    src: local("Helvetica Neue"),
    local("HelveticaNeue");
}

@font-face {
    font-family: "HelveticaNeue";
    font-weight: bold;
    src: local("Helvetica Neue Bold"),
    local("HelveticaNeue-Bold");
}
#f {
    font-family: HelveticaNeue, Helvetica, Arial, Verdana, sans-serif;
    font-weight: 300;
}
</style>



<script>
 function myHome_Class_Remove_Function() {
   var element = document.getElementById("container");
   element.classList.remove("container");
 }
 
 function myHome_Responsive_Function(x) {
   if (x.matches) { // If media query matches
   myHome_Class_Remove_Function()
   }
 }
 
 var x = window.matchMedia("(max-width: 600px)")
 myHome_Responsive_Function(x) // Call listener function at run time
 x.addListener(myHome_Responsive_Function) // Attach listener function on state changes

 // Get the button
let mybutton = document.getElementById("home_btn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}


</script>