 <section id="home-section">
  <div class="container-fluid">
    <div class="row home-row" id="results">
      {{#if response}}
      {{#each response}}
      <div class="hover" onclick="get('/subcategories/{{this._id}}/{{this.name}}')">
        <div class="image-parent">
          <p class="imag-style" style="homeImg">
            <img onchange="s()" class="home-image-tag" src="/category-images/{{this._id}}.jpg" width="65px " height="50px" alt="">
          </p>
          <div class="home-contentTitle-parentDiv text-center w-100">
           <div>
              <a class="home-contentTitle-aTag text-dark text-decoration-none" href="/subcategories/{{this._id}}/{{this.name}}">
                <h5 class="font-weight" style="font-family: 'Avenir', sans-serif ;">{{this.name}}</h5>
              </a>
           </div>
          </div>
        </div>
      </div>
      {{/each}}
      {{else}}
      <div>
        <p class="loading" style="font-family: 'Avenir', sans-serif ;">Loading...</p>
      </div>
      {{/if}}
    </div>
  </div>
</section>