<h4 style="padding:25px;">{{DepartmentData.DepartmentName}}</h4>

<div class="row">
  {{#if DepartmentData}}
  <div class="col-xl-3" style="margin: 12px;">
    <style>
      .card:hover{
        border: 1px solid black;
      }
    </style>
    <div class="card" style="width: 18rem;" onclick="getDeptData('{{this._id}}')" >
      <img
        class="card-img-top"
        src="/departmentPic/{{DepartmentData._id}}.jpg"
        alt="loading..."
      />
      <div class="card-body">
        <h5 class="card-title">{{DepartmentData.DepartmentName}}</h5>
        <h6 class="card-title">{{DepartmentData.YearFounded}}</h6>
        <p class="card-text">{{DepartmentData.Description}}</p>
        <a href="/getDeptHeads/{{DepartmentData._id}}">Department Head</a>
      </div>
      <div style="padding: 15px;">
        {{!-- <a href="/admin/editDepartment/{{this._id}}" style="color: blue;padding:10px">Edit</a> --}}
        {{!-- <a href="" onclick="deleteCat('{{this._id}}',',{{this.DepartmentName}}')" style="color: red;">Delete</a> --}}
        {{!-- <a href=""></a> --}}
      </div>
    </div>
  </div>
  {{/if}}
</div>