<section>
  <div class="container-fluid">
    <div class="row home-row">
      {{#if response}}
      {{#each response}}
      <div class="hover">
        <div class="image-parent">
          <div class="imag-style">
            <img class="home-image-tag" src="/category-images/{{this._id}}.jpg" width="65px " height="50px" alt="">
          </div>
          <div class="home-contentTitle-parentDiv text-center w-100">
            <a class="home-contentTitle-aTag text-dark text-decoration-none" href="/subcategories/{{this._id}}/{{this.name}}">
              <p class="font-weight">{{this.name}}</p>
            </a>
          </div>
        </div>
      </div>
      {{/each}}
      {{else}}
      <div>
        <p class="loading">Loading...</p>
      </div>
      {{/if}}
    </div>
  </div>
</section>