<section>
  <div class="subCat-heading">
    {{#if name}}
    <div class="subCat-heading-parentDiv">
      <h3 class="subCat-heading-h3Tag">{{name}}</h3>
      <div></div>
    </div>
    {{/if}}
  </div>
</section>

<section class="SubCat-section">
  <div class="container-fluid subCat-container">
    <div class="row subCat-row">
      {{#if SubCat}}
      {{#each SubCat}}
      <div class="transform subCat-contentDiv">
        <div>
          <img src="/sub-category-images/{{this._id}}.jpg" width="65px" height="50px" alt="">
        </div>
        <div class="card-body padding-left-20">
          <a class="text-dark text-decoration-none" target="_blank" href="{{this.link}}">
            <h5 class="card-title font-weight-600">{{this.name}}</h5>
          </a>
        </div>
      </div>
      {{/each}}
      {{else}}
      <h4 class="padding-left-40">No data available!</h4>
      {{/if}}
    </div>
  </div>
</section>