<section class="subCatHome">
  <div class="container-fluid">
    <div class="subCat-heading">
    {{#if name}}
    <div class="subCat-heading-parentDiv">
      <h3 class="subCat-heading-h3Tag" style="font-family: 'Avenir', sans-serif;">{{name}}</h3>
      <div></div>
    </div>
    {{/if}}
  </div>
  </div>
</section>

<section class="SubCat-section">
    <div class="container-fluid subCat-container">
    <div class="row subCat-row" id="results">
      {{#if SubCat}}
      {{#each SubCat}}
      <div class="transform subCat-contentDiv" style="position: relative;">
        {{!-- <div class="home_indexing_container"><span class="count_increment"></span></div> --}}
        <p class="p-none">
          <img src="/sub-category-images/{{this._id}}.jpg" width="65px" height="50px" alt="">
        </p>
        <div class="card-body padding-left-20">
          <a class="text-dark text-decoration-none" target="_blank" href="{{this.link}}">
            <h5 class="font-weight-600" style="font-family: 'Avenir', sans-serif ;">{{this.name}}</h5>
          </a>
        </div>
      </div>
      {{/each}}
      {{else}}
      <h4 style="font-family: 'Avenir', sans-serif ;" class="padding-left-40">UPDATING !!!</h4>
      {{/if}}
    </div>
  </div>
</section>

{{!-- <button onclick="topFunction()" id="home_btn" title="Go to top"><i class="fa-solid fa-house"></i></button> --}}
<div onclick="topFunction()" id="home_btn"><i class="fa-sharp fa-solid fa-arrow-up"></i></div>

<script>
   // Get the button
let mybutton = document.getElementById("home_btn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};


function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>